<% provide(:title, "Sign up for beta access") %>

<div class="container">
    <div class="middle" id="userType">
    Request an invite 
        <label class="radio inline">
          <input type="radio" id="inlineCheckbox1" name="optionsRadios" value="1" checked>  Fashion Lover
        </label>
        <label class="radio inline">
          <input type="radio" id="inlineCheckbox2" name="optionsRadios" value="2"> Designer
        </label>

    	<%= render 'users/fan_form' %>
    </div>
</div>