<% provide(:title, "Sign up for beta access") %>

    <div class="container">
        <div class="sub-container">
            <div class="fl seperator call-to-action">
                <h3>fund fashion artisans</h3>
            </div>
            <div class="fl call-to-action info">
                <p><em>Be the first to wear new fashion collections and give fashion creatives the chance at something big...</em></p>
            </div>
        </div>

        <!-- Begin LaunchRock Widget -->
        <!-- End LaunchRock Widget -->            
    </div>
    <div id="intro" class="well">
    	<button class="btn btn-inverse fanBtn">I Love Fashion!</button>
    	<button class="btn btn-inverse artistBtn">I'm a designer</button>
    </div>

		<%= render 'users/fan_form' %>
		<%= render 'users/artist_form' %>
	