<% provide(:title, "Sign up for beta access") %>
<section>
    <div class="container">
        <div class="middle">
            <h1>beta<em>thread</em></h1>
            <p><small>COMING SOON....</small></p>
        </div>
        <div class="sub-container">
            <div class="fl seperator span5">
                <h3>fund fashion artisans</h3>
            </div>
            <div class="fl span5">
                <p><em>Be the first to wear new fashion collections and give fashion creatives the chance at something big...</em></p>
            </div>
        </div>

        <!-- Begin LaunchRock Widget -->
        <!-- End LaunchRock Widget -->            
    </div>
</section>
<section style="display:none;">
	<%= render 'users/fan_form' %>
</section>
<section style="display:none;">
	<%= render 'users/artist_form' %>
</section>