<% provide(:title, "Thank you!") %>
<%= render 'layouts/facebookscript' %>
<%= render 'layouts/twitterscript' %>
<div class="container">
	<div class="sub-container">
		<div id="success" class="center">
			<h2 class="center">Success!</h2>
			<p>You will receive an invite shortly.</p>
			<p>Share for early access!</p>
		</div>
	</div>
		<div class="sub-container social">
			<a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-url="http://www.betathread.com" 
					data-text="Fund fashion artisans! @betathread">Tweet</a>
<div class="fb-like" data-href="http://www.betathread.com" data-width="450" data-layout="button_count" data-show-faces="false" data-send="false"></div>
		</div>
	</div>
</div>