@import "bootstrap";

/* --- Contents ---
	1. Defaults, Structure & Resets
	2. Images
	3. Text & Links
*/

/* --- 1. Defaults, Structure & Resets --- */
/* Fonts */
@font-face{
	font-family:'Century Gothic W01';
	src: url("/assets/century-normal.woff");
}
@font-face{
	font-family:'CenturyGothicW01-Italic';
	src: url("/assets/century-italic.woff");
}
@font-face{
	font-family:'Century Gothic W01 Bold';
	src: url("/assets/century-bold.woff");
}
@font-face{
	font-family:'CenturyGothicW01-BoldIt';
	src: url("/assets/century-bold-italic.woff");
}
a, button, input{
	font-family: "Century Gothic", 'Century Gothic W01', CenturyGothic, AppleGothic, sans-serif;
	line-height: 1.6;
}
.italic{
	font-family:'CenturyGothicW01-Italic';
	line-height: 1.6;
}
h1, h2, h3, h3, h4, h5{
	font-family: "Century Gothic", 'Century Gothic W01', CenturyGothic, AppleGothic, sans-serif;
}
h1.bold, h2.bold, h3.bold, h3.bold, h4.bold, h5.bold{
	font-family: "Century Gothic", 'Century Gothic W01 Bold', CenturyGothic, AppleGothic, sans-serif;
}

.clearFix:after {
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}

input[type="text"], input[type="password"], textarea, input[type="text"]:focus, textarea:focus, input[type="password"] {
    border-radius: 0;
}

		
header, footer, nav, section, article, aside {
    display: block;
}

a img {
	border: 0;
}

* {
	margin: 0 0px 0 2px;
	padding: 0;
}
	
html {
	font-size: 100%;
}

body {
	font-size: 62.5%;
}

div#wrapper {
	font-size: 1.0em;
	line-height: 1.5em;
	width: 850px;
	margin: 0 auto;
}

header {
	text-align: center;
	margin: 30px 0;
}

ul {
	list-style-type: none;
}

header ul {
	float: right;
}

div#intro {
	width: 600px;
	margin: 30px auto 20px auto;
	padding: 20px;
	text-align: justify;
	border-radius: 5px;
}

form {
	margin: 0;
}

form.fanForm, form.artistForm {
	width: 275px;
	border-radius: 5px;
	padding: 10px 0;
}
#user_email {
	width: 195px;
}
form.fanForm {
	float: left;
}

form.artistForm {
	float: right;
}

input[type="submit"] {
	margin-bottom: 0;
}

button.fanBtn {
	float: left;
	margin-left: 80px;
}

button.artistBtn {
	float: right;
	margin-right: 80px;
}

/* --- 2. Images --- */



/* --- 3. Text & Links --- */
div#intro p {
	font-family: "Arial", "Helvetica", sans-serif;
	font-size: 1.6em;
	line-height: 1.5em;
	font-weight: normal;
	color: #666;
	text-shadow: 0 1px 1px #FFF;
}

form p {
	font-family: "Arial", "Helvetica", sans-serif;
	font-size: 1.3em;
	line-height: 1.3em;
	font-weight: normal;
	color: #666;
	text-shadow: 0 1px 1px #FFF;
}

body {
	margin: 0;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.container{
	width:900px;
	margin:0 auto;
}
.sub-container{
	margin:40px auto 0;
	width:570px;
	padding:10px 0;
}
header .middle {
	margin: 200px auto 0px;
}
.middle label{
	font-size:12px;
}
.middle {
	width: 275px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
}
.middle {
	margin: 0 auto 20px;
}
.center{
	text-align:center;
}
.custom{
	display:none;
}
.sign-up {
	margin: 75px auto;
	width: 700px;
}
.sub-container.social {
width: 200px;
margin-top: 20px;
}
.logo{
	background: url("/assets/logo.png") no-repeat 0 0;
	font-size:0;
	width:100%;
	height:105px;
}