@import "bootstrap";

/* --- Contents ---
	1. Defaults, Structure & Resets
	2. Images
	3. Text & Links
*/

/* --- 1. Defaults, Structure & Resets --- */

.clearFix:after {
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}

input[type="text"], input[type="password"], textarea, input[type="text"]:focus, textarea:focus, input[type="password"] {
    outline: none;
    border: none;
}

		
header, footer, nav, section, article, aside {
    display: block;
}

a img {
	border: 0;
}

* {
	margin: 0;
	padding: 0;
}
	
html {
	font-size: 100%;
}

body {
	font-size: 62.5%;
}

div#wrapper {
	font-size: 1.0em;
	line-height: 1.5em;
	width: 850px;
	margin: 0 auto;
}

header {
	text-align: center;
	margin: 30px 0;
}

ul {
	list-style-type: none;
}

header ul {
	float: right;
}

div#intro {
	width: 600px;
	margin: 30px auto 20px auto;
	padding: 20px;
	text-align: justify;
	border-radius: 5px;
}

form {
	margin: 0;
}

form.fanForm, form.artistForm {
	width: 275px;
	border-radius: 5px;
	background: #F2F2F2;
	padding: 20px;
	text-align: center;
}

form.fanForm {
	float: left;
}

form.artistForm {
	float: right;
}

input[type="submit"] {
	margin-bottom: 0;
}

button.fanBtn {
	float: left;
	margin-left: 80px;
}

button.artistBtn {
	float: right;
	margin-right: 80px;
}

/* --- 2. Images --- */



/* --- 3. Text & Links --- */
div#intro p {
	font-family: "Arial", "Helvetica", sans-serif;
	font-size: 1.6em;
	line-height: 1.5em;
	font-weight: normal;
	color: #666;
	text-shadow: 0 1px 1px #FFF;
}

form p {
	font-family: "Arial", "Helvetica", sans-serif;
	font-size: 1.3em;
	line-height: 1.3em;
	font-weight: normal;
	color: #666;
	text-shadow: 0 1px 1px #FFF;
}

body {
	margin: 0;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.container{
	width:900px;
	margin:0 auto;
}
.sub-container{
	margin:40px auto 0;
	width:570px;
	padding:10px 0;
}
.middle{
	margin: 150px 0 -30px;
}
.middle h1, .middle{
	text-align: center;
}
.middle h1{
	font-size: 56px;
	margin: 20px 0;
}
.middle small{
	font-size: 10px;	
}
.middle p{
	margin-top:0;
}
h1 em{
	color:#666;
}
.call-to-action h3{
	font-size: 32px;
	margin: 13px 0;
	padding: 0 10px;
	text-align: right;
	line-height: 1.1em
}
.middle h1 {
	font-weight: 400;
	letter-spacing: 13px;
}
.fl{
	float:left;
	padding-left:10px;
}
.seperator{
	padding-right: 5px;
	margin-right: 5px;
	margin-left:-25px;
	border-right: 2px solid #111;
}
.fl em{
	margin-top:10px;
	font-size: 13px;
}
.span3{
	width:185px;
}
.call-to-action{
	width:265px;
}
.call-to-action.info {
	margin-top: 15px;
}
.center{
	text-align:center;
}
.custom{
	display:none;
}
.sign-up {
	margin: 75px auto;
	width: 700px;
}